fastapi
supabase
python-dotenv
uvicorn
fastapi
supabase
python-dotenv
uvicorn
langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
langchain-google-genai  
 